<footer>
    <p>© 2015 CASH Music. All our code is open-source &amp; free forever. Photo by <a href="https://www.flickr.com/photos/axlright/" target="_blank">Alex Wright</a></p>
</footer>


</body>
</html>
