{{> header }}

		<section id="search">
		<form id="search_submission">
			<input type="text" name="q" value="" autocomplete="off" placeholder="Venue name..." id="keyword" />
		</form>
		</section>

		<section class="results">
		<div class="inner"><!-- YEAH RESULTS --></div><!--inner-->
		<div class='rollin'><h1>Sorry, No dice</h1></div><!--dice-->
		</section>
{{> footer }}