<!DOCTYPE html>

<html>
	<head>
		<title>Bobo Database</title>
	</head>
	
	<body>
		
	
			<ul>
           {{ #name }}
           <li>{{ name }}</li>
           {{ /name }}
  			</ul>
		
		<BR><BR>
		
		<p>Search the Database: 
		<form method="get" action="/venues.html">
			<input type="text" name="q" value="" placeholder="Venue Name..." id="keyword">
			<ul id="venue_list_id"></ul>
			<BR><BR>
			<input type="submit" value="search">
		</form>

	
	
	</body>
</html>