<!DOCTYPE html>

<html>
	<head>
		<title>Bobo Database</title>
	</head>
	
	<body>
		
			<h1>Venues</h1>
			<ul>
				{{#results}}
					<li>{{#name}}{{#id}}<p><a href="venues/{{UUID}}.html">{{/id}}{{ name }}</a></p>{{/name}}</li>
				{{/results}}
				{{^results}}
					<p>No results.</p>
				{{/results}}
			</ul>
		
		<BR><BR>
		
		<p>Search the Database: </p>
		<form method="get" action="/venues.html">
			<input type="text" name="q" value="" placeholder="Venue Name..." id="keyword">
			<ul id="venue_list_id"></ul>
			<BR><BR>
			<input type="submit" value="search">
		</form>

	
	
	</body>
</html>