<!DOCTYPE html>
<html>
	<head>
		<title>Cash Database</title>
		<script src="assets/js/jquery.min.js" type="text/javascript"></script>
		<script src="assets/js/main.js" type="text/javascript"></script>
		<link href="assets/css/app.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/iconfont.css" rel="stylesheet" type="text/css" />
	</head>
	
	<body>
		<section id="search">
		<form id="search_submission">
			<input type="text" name="q" value="" placeholder="Is it me your looking for?" id="keyword">
		</form>
		</section>
	</body>
</html>