{{> header }}

	<h1>Search for: {{name}}</h1>



<section class="results display">
    <div class="inner">	<ul>
        {{#results}}
            <li>{{#name}}{{#UUID}}<p><a href="/venue/{{UUID}}.html">{{/UUID}}{{ name }}{{#UUID}}</a>{{/UUID}}</p>{{/name}}</li>
        {{/results}}
        {{^results}}
            <p>No results.</p>
        {{/results}}
    </ul></div><!--inner-->
    <div class='rollin hidden'><h1>Sorry, No dice</h1></div><!--dice-->
</section>

{{> footer }}