{{> header }}

<div id="container" class="display">
    <section id="search">
        <form id="search_submission">
            <input type="text" name="q" value="{{name}}" autocomplete="off" placeholder="Venue name..." id="keyword" />
        </form>
    </section>

    <section class="results">


        <div class="inner">
            {{#results}}

                <div class="result show" id="1561">
                    <a class="card" href="/venue/{{UUID}}.html">
                        <h1>{{ name }}</h1>
                    <div class="address"></div>
                    <p class="uuid"><span class="title">UUID</span><span class="id">{{UUID}}</span></p></a></div>

            {{/results}}
            {{^results}}
                <p>No results.</p>
            {{/results}}
        </div><!--inner-->
        <div class='rollin'><h1>Sorry, No dice</h1></div><!--dice-->
    </section>
</div>

{{> footer }}