<!DOCTYPE html>

<html>
	<head>
		<title>CASH Music - Open Venue Data - {{ name }}</title>
		<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
		<link href="/assets/css/app.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/iconfont.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	</head>
	
	<body class="loaded venue">
	<header>
		<h1 class="logo"><a href="http://cashmusic.org" target="_blank"><svg version="1.1" id="Layer_22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="240.958px" height="240.732px" viewBox="0 0 240.958 240.732" enable-background="new 0 0 240.958 240.732"
	 xml:space="preserve">
	 <title>CASH Music</title>
<g>
	<path d="M120.487,238.993c-65.322,0-118.471-53.138-118.471-118.471C2.016,55.2,55.165,2.051,120.487,2.051
		S238.958,55.2,238.958,120.522C238.958,185.856,185.809,238.993,120.487,238.993 M120.487,12.265
		c-59.696,0-108.258,48.573-108.258,108.257c0,59.695,48.562,108.256,108.258,108.256c59.694,0,108.256-48.562,108.256-108.256
		C228.743,60.838,180.181,12.265,120.487,12.265z"/>
	<polygon points="179.292,116.687 125.213,116.687 174.348,67.549 173.271,66.473 123.051,116.687 117.472,116.687 67.079,66.298 
		65.99,67.372 115.305,116.687 61.649,116.687 61.649,124.859 114.88,124.859 65.992,173.742 67.077,174.828 117.043,124.859 
		123.476,124.859 173.866,175.247 174.951,174.161 125.642,124.859 179.292,124.859 	"/>
	<g>
		<path d="M128.381,159.775l-6.218,12.564h-3.06l-6.184-12.564v14.474h-5.132v-22.995h6.943l5.92,12.633l5.953-12.633h6.908v22.995
			h-5.131V159.775z"/>
	</g>
	<g>
		<path d="M122.052,86.463c2.851,0,5.181-1.127,6.991-3.384l3.718,3.831c-2.949,3.322-6.426,4.983-10.432,4.983
			c-4.003,0-7.301-1.264-9.89-3.793c-2.592-2.528-3.886-5.721-3.886-9.575c0-3.857,1.319-7.073,3.961-9.651
			c2.64-2.579,5.869-3.867,9.687-3.867c4.265,0,7.835,1.623,10.712,4.87l-3.608,4.092c-1.836-2.281-4.117-3.421-6.843-3.421
			c-2.184,0-4.049,0.713-5.597,2.138c-1.55,1.427-2.324,3.347-2.324,5.765c0,2.417,0.73,4.357,2.195,5.821
			C118.197,85.732,119.971,86.463,122.052,86.463z"/>
	</g>
</g>
</svg>
</a></h1>
<div class="return">Return to Search</div>
	{{#UUID}}<div class="action edit">Edit</div>{{/UUID}}
	</header>
	<div class="entry-container">
	<div id="card">
	<div class="front">	
	{{#name}}<h1>{{name}}</h1>{{/name}}
	<div class="inner">
	{{#address1}}<p>{{address1}}</p>{{/address1}}
	{{#address2}}<p>{{address2}}</p>{{/address2}}
	{{#city}}<p>{{city}}</p>{{/city}}
	{{#region}}<p>{{region}}</p>{{/region}}
	{{#country}}<p>{{country}}</p>{{/country}}
	{{#postalcode}}<p>{{postalcode}}</p>{{/postalcode}}
	{{#latitude}}<p>Latitude:{{latitude}}</p>{{/latitude}}
	{{#longitude}}<p>Longitude:{{longitude}}</p>{{/longitude}}
	{{#url}}<p><a href="http://{{url}}" target="_blank">{{url}}</a></p>{{/url}}
	{{#phone}}<p>{{phone}}</p>{{/phone}}
	{{#creationdate}}<p>Creation Date: {{creationdate}}</p>{{/creationdate}}
	{{#modificationdate}}<p>Modification Date: {{modificationdate}}</p>{{/modificationdate}}</div><!--inner-->
	{{#UUID}}<p class='uuid'><span class='title'>UUID</span><span class='id'>{{UUID}}</span></p>{{/UUID}}

	<p class="code"><strong>API Response:</strong> {"id":"2","name":"The Echo","address1":"Sunset Ave","address2":"","city":"Los Angeles","region":"CA","country":"USA","postalcode":"","latitude":"0","longitude":"0","url":"www.theecho.com","phone":"","creationdate":null,"modificationdate":null,"type":"Venue","UUID":"cashmusic5525a5af40ee5"}</p>

	</div><!--front-->
	<div class="back">
			<h1>{{name}}</h1>
	<form class="edit-form" action="edit.php" method="post">
			<label>Venue Name:</label>
			<input type="text" name="venuename" id="venuename" value="{{name}}">
			<label>Address:</label>
			<input type="text" name="address1" id="address1" value="{{address1}}">
			<label>Address:</label>
			<input type="text" name="address2" id="address2" value="{{address2}}"></p>
			<label>City:</label>
			<input type="text" name="city" id="city" value="{{city}}">
			<label>State/Region:</label>
			<input type="text" name="region" id="region" value="{{region}}">
			<label>Country:</label>
			<input type="text" name="country" id="country" value="USA" placeholder="{{country}}">
			<label>Postal Code:</label>
			<input type="text" name="postalcode" id="postcode" value="{{postalcode}}">
			<label>Latitude:</label>
			<input type="text" name="latitude" id="latitude" value="{{latitude}}">
			<label>Longitude:</label>
			<input type="text" name="longitude" id="longitude" value="{{longitude}}">
			<label>Website URL:</label>
			<input type="text" name="url" id="url" value="{{url}}">	
			<label>Phone:</label>
			<input type="text" name="phone" id="phone" value="{{phone}}">
			<label>Type:</label>
			<input type="text" name="type" id="type" value="{{type}}">
			<input type="hidden" name="UUID" value="{{UUID}}">
			<input type="submit" value="Submit">
		</form>	
	</div><!--back-->
	</div><!--card-->
	</div><!--entry-container-->
	<footer>
		<p>© 2015 CASH Music. All our code is open-source &amp; free forever. Photo by <a href="https://www.flickr.com/photos/axlright/" target="_blank">Alex Wright</a></p>

		<p class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-via="cashmusic" data-hashtags="cashmusicopenvenuedata">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
		</footer>s

	<script>
	$(document).ready(function() {

		$('.return').click(function(){
  		console.log('back click');
        parent.history.back();
        return false;
    	});

    	$('.edit').click(function(){
  		console.log('flip it! flip it good!');
        $('#card').toggleClass('flipped');
    	});

    	/*$("#submit").click(function(){
			var name = $("#name").val();
			var email = $("#email").val();
			var password = $("#password").val();
			var contact = $("#contact").val();
			// Returns successful data submission message when the entered information is stored in database.
			var dataString = 'venuename='+venuename+'&address1='+address1+'&address2='+address2+'&city='+city+'&region='+region+'&country='+country+'&;
			
			// AJAX Code To Submit Form.
			$.ajax({
			type: "POST",
			url: "edit.php",
			data: dataString,
			cache: false,
			success: function(result){
			alert(result);
			}
			});
			}
			return false;
		});*/
    });
	</script>


	</body>
</html>