html{
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


html,body{
	background:#eee;
	color:#222;
	font-family:'helvetica', arial, sans-serif;	
	padding:3%;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	transition: 0.3s ease-in-out;
}

a{
	color:#ddd;
	text-decoration: none;
	display:block;
}

a:hover{
	text-decoration: line-through;}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

#search{
	background:#eee url('../img/cbgb.jpg');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width:100%;
	padding:0;
	top:0;
	left:0;
	display:block;
	height:100%;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	transition: 0.3s ease-in-out;
}

.display #search{
	width:50%;
}

#search form{
	position:absolute;
	top:50%;
	left:50%;
	margin:-36px 0 0 -30%;
	height:72px;
	width:60%;
	border-radius: 3px;
	overflow: hidden;
}

#search input{
	display: inline-block;
	color:#666;
	background:#f5f5f5;
	border:none;
	padding:30px;
	width:100%;
	-webkit-transition: 0.5s background ease-in-out;
	-moz-transition: 0.5s background ease-in-out;
	transition: 0.5s background ease-in-out;
}

#search input:active, #search input:focus{
	background:#fff;
	border: none;
	outline:none;
}

#search input[type="submit"]{
	padding:30px;
	display: inline-block;
}

.results{
	position: fixed;
	top:0;
	right:0;
	width:50%;
	height:100%;
	background:#ddd;
	padding:30px;
	overflow:auto;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	transition: 0.3s ease-in-out;
}

.display .results{
	position: fixed;
	top:0;
	right:0;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	transition: 0.3s ease-in-out;
}

.result{
	background:#eee;
	border-radius: 3px;
	margin:0 0 20px 0;
	padding:20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.display .results .dice{
	height:100%;
	background:url(../img/dice.png) no-repeat;
}

