html{
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


html,body{
	background:#eee;
	color:#222;
	font-family: 'Montserrat', 'helvetica', arial, sans-serif;
	padding:0;
	margin:0;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
}


body.loading{
	opacity: 1;
	height:100%;
	background: url('../img/load.gif');
	background-repeat: no-repeat;
	background-size: 5%;
	background-position: 50% 50%;
}

body.loaded{
	background:none;
	height:100%;
}

a{
	color:#222;
	text-decoration: none;
	display:block;
}

a:hover{
	text-decoration: line-through;}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

.loading { opacity: 0; }
.loaded { opacity: 1; }

.logo{
	z-index: 3;
	position: fixed;
	top:0;
	left:0;
	margin:30px;
	padding:0;
	opacity: 0;
	-webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.9)); 
	filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.9));
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	transition: 0.3s ease-in-out;
}

.loaded .logo{
	opacity: 1;
}

.logo svg{
	width:60px;
	height:60px;
	fill:#fff;
	opacity: 0;
}

.loaded .logo svg{
	opacity: 1;
}

.logo:hover{
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.logo span, .logo a{
	display: inline-block;
}

.logo span{
	color:#fff;
	margin:-38px 0 0 10px;
	padding:0;
	vertical-align: middle;
	font-size: 14px;
	text-transform: uppercase;
}

.loading #search{
	opacity: 0;
	visibility: hidden;
	/*background:#eee;*/
}

.loaded #search{
	background:#eee url('../img/background.jpg');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#search{
	/*background:#eee url('../img/cbgb.jpg');*/
	/*background:#eee;*/
	position: fixed;
	width:100%;
	padding:0;
	top:0;
	left:0;
	display:block;
	height:100%;
	-webkit-transition: 0.3s width, 0.3s opacity ease-in-out;
	-moz-transition: 0.3s width, 0.3s opacity ease-in-out;
	transition: 0.3s width, 0.3s opacity ease-in-out;
}

.display #search{
	width:50%;
}

#search form{
	position:absolute;
	top:50%;
	left:50%;
	margin:-36px 0 0 -30%;
	height:60px;
	width:60%;
	overflow: hidden;
}

#search input{
	background-color:#f5f5f5;
	background-image:url('../img/search.svg');
	background-position:2.2% 50%;
	background-repeat:no-repeat;
	background-size: 3%;
	font-family: 'Montserrat', 'helvetica', arial, sans-serif;
	display: inline-block;
	color:#666;
	font-size: 14px;
	border:none;
	padding:20px 20px 20px 60px;
	width:100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-transition: 0.3s background-color ease-in-out;
	-moz-transition: 0.3s background-color ease-in-out;
	transition: 0.3s background-color ease-in-out;
}

#search input:active, #search input:focus{
	background-color:#fff; 
	background-image:url('../img/search.svg');
	background-position: 2.2% 50%;
	background-repeat:no-repeat;
	background-size: 3%;
	outline:none;
	-webkit-transition: 0.3s background-color ease-in-out;
	-moz-transition: 0.3s background-color ease-in-out;
	transition: 0.3s background-color ease-in-out;
}

.display #search input{
	background-color:#f5f5f5;
	background-image:url('../img/search.svg');
	background-position:5% 50%;
	background-repeat:no-repeat;
	background-size: 5%;
	padding:20px 20px 20px 50px;
	-webkit-transition: 0.3s background-color ease-in-out;
	-moz-transition: 0.3s background-color ease-in-out;
	transition: 0.3s background-color ease-in-out;
}

#search input[type="submit"]{
	padding:30px;
	display: inline-block;
}

.results{
	position: fixed;
	top:0;
	right:-100%;
	width:50%;
	height:100%;
	background:#eee;
	background:rgba(238,238,238,0.98);
	padding:30px;
	overflow:auto;
	-webkit-transition: 0.3s right ease-in-out;
	-moz-transition: 0.3s right ease-in-out;
	transition: 0.3s right ease-in-out;
}

.display .results{
	right:0%;
}

.results .inner{
	padding:0;
	margin:0;
}

.result{
	width:80%;
	margin:0 auto 10px auto;
	opacity: 0;
	visibility: hidden;
	background:#eee;
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*margin:0 0 20px 0;*/
	padding:20px;
	text-align: left;
	border:solid 1px #ddd;
	/*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);*/
	-webkit-transition: 0.3s  cubic-bezier(0.65, 0.05, 0.36, 1);
	-moz-transition: 0.3s  cubic-bezier(0.65, 0.05, 0.36, 1);
	transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.result h1{
	margin:0;
	padding:0 10px;
}

.result p{
	padding:10px;
}

.result p span{
	display: block;
	background:none;
	padding:0;
	border: none;
}

.uuid{
	display: block;
	background:#ddd;
	padding:0!important;
	margin:0;
	word-break: break-all;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.uuid .title{
	display: inline-block;
	background:#ccc;
	color:#999;
	padding:10px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.uuid .id{
	display: inline-block;
	padding:10px;
	word-wrap:break-word;
}


.result.show{
	opacity: 1;
	visibility: visible;
}

.result:hover{
	/*background:#ccc;*/
	-webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
	/*background:none;*/
}

.result:hover a{
	text-decoration: none;
}

.rollin{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:10%;
	background:url(../img/dice.png) no-repeat;
	background-size: 50%;
	background-position: 50% 50%;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	opacity: 0;
	-webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
}

.display .results.dice .rollin{
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  	opacity:1;
	background-position: 50% 50%;
}

.rollin h1{
	opacity: 0;
	display: none;
}

.results.dice .rollin h1{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	opacity: 1;
	display: block;
}

.entry{
	width:40%;
	margin:0 auto;
	background:#eee;
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*margin:0 0 20px 0;*/
	padding:20px;
	text-align: left;
	border:solid 1px #ddd;
}

/* Page Action */
.action{
	position: fixed;
	top:0;
	right:0;
	color:#fff;
	border:solid 1px #fff;
	border-radius: 3px;
	padding:10px 20px;
	margin:30px 30px 0 0;
	z-index: 3;
	font-size: 14px;
	-webkit-transition: 0.3s right ease-in-out;
	-moz-transition: 0.3s right ease-in-out;
	transition: 0.3s right ease-in-out;
}

.action:hover{
	text-decoration: none;
	background:#fff;
	color:#666;
}

.display .action{
	right:50%;
}

.twitter{
	position: fixed;
	bottom:0;
	right:0;
	margin:0 30px 26px 0;
	-webkit-transition: 0.3s right ease-in-out;
	-moz-transition: 0.3s right ease-in-out;
	transition: 0.3s right ease-in-out;
}

.display .twitter{
	right:50%;
}

footer{
	position: fixed;
	bottom:20px;
	left:30px;
	color:#fff;
	margin:0;
	padding:0;
	font-size: 12px;
	width:45%;
	text-align: left;
	opacity: 0;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.loaded footer{
	opacity: 1;
}

footer a{
	display: inline-block;
	color: #fff
}



