{
"database": {
    "driver": "mysql",
    "host": "localhost",
    "database": "cashvenues",
    "username": "",
    "password": ""
  },
  "debug": false,
  "debug_database": {
    "driver": "mysql",
    "host": "localhost",
    "database": "cashvenues",
    "username": "",
    "password": ""
  }
}
